:root {
    --main-color: #0057a0;
    --secondary-color: green;
    --font-family: 'Helvetica', sans-serif;
    --background-color: #f4f4f4;
    --padding: 25px;
    --border-radius: 8px;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --translucent-bg: rgba(255, 255, 255, 0.7);
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    color: var(--main-color);
    background-color: var(--background-color);
}

header {
    background-color: var(--main-color);
    color: white;
    padding: var(--padding) 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
}

main {
    position: relative;
}

.hero {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto; /* Adjusts the height according to width */
    object-fit: cover;
    object-position: center;
}

.data, .weather {
    width: 100%;
    background-color: var(--translucent-bg);
    padding: var(--padding);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: black;
    margin-top: var(--padding);
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

.data {
    order: 1; /* Display data section first on mobile */
}

.weather {
    order: 2; /* Display weather section second on mobile */
}

h1, h2 {
    text-align: center;
    color: var(--secondary-color);
}

.weather h2::after {
    content: " ⛅";
}

footer {
    text-align: center;
    padding: var(--padding) 0;
    background-color: var(--main-color);
    color: white;
}

@media (min-width: 768px) {
    .data, .weather {
        width: 40%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .data {
        left: 5%;
    }

    .weather {
        right: 5%;
    }
}
@media (min-width: 769px) {
    .data {
        width: 20%;
    }

    .weather {
        width: 20%;
    }
}
