
* {
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


main {
    margin: 0;
    padding: 0.5rem;
    width: 100%;
    max-width: 800px;
}


.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

